.dark {
    background-color: #333;
    color: white
  }
.light {
background-color: rgb(249, 250, 255);
color: black;
}
.text-color{
  color: white;
}

.logOut{
  height: 35px;
  margin-top: 9px;
  margin-left: 3px;
  border-radius: 5px;
  border: none;
  background-color: cadetblue;
  font-weight: bold;
  color: white;
 
}